<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Track Data</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-neutral-900 text-white">
    <!-- HEADER -->
    <nav class="p-4"></nav>

    <!-- MAIN CONTENTS -->
    <div class="mx-8 sm:w-[520px] sm:mx-auto">

      <!-- FORM -->
      <h1 class="text-4xl py-2 font-bold">Search</h1>
      <form action="/" method="GET">
        <div class="relative">

          <input type="search" name="q"
            class="block p-3 m-2 pl-10 w-full text-xl text-gray-900 bg-gray-50 rounded-full
              border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
            placeholder="track name"
            value="{{ keyword }}">

          <button type="submit"
            class="text-white absolute right-2.5 bottom-2.5 bg-gray-50
            font-medium text-sm px-4 py-2">
            <svg aria-hidden="true" class="w-5 h-5 text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
            </svg>
          </button>
        </div>
      </form>

      <br />

      <!-- KEKKA -->
      <h1 class="text-4xl py-2 font-bold">Result</h1>
      {% for track in tracks -%}
        <a href="/track/{{ track.id }}" class="hover:text-green-600">
          <div class="grid grid-cols-4 gap-4">
            <div class="m-1 sm:m-3">
              <img src="{{ track.image }}" \>
            </div>
            <div class="col-span-3">
                <h4 class="text-xl py-2 font-bold">{{ track.name }}</h4>
                <p class="text-sm">by {{ track.artist }}</p>
            </div>
          </div>
        </a>
        <hr class="bg-gray-500 h-px m-3 border-0">
      {% endfor %}
    </div>
  </body>
</html>
