<!DOCTYPE html>
<!-- 参考 -->
<!-- https://deshinon.com/2019/03/02/kopipe-web-bou-gragh/ -->
<!-- http://www.minddust.com/project/bootstrap-progressbar/demo/bootstrap-3-2-0/ -->
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ track.title }}</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-neutral-900 text-white">
    <!-- HEADER -->
    <nav class="p-4"></nav>

    <!-- MAIN CONTENTS -->
    <div class="mx-8 sm:w-[520px] sm:mx-auto">

      <div class="sm:grid sm:grid-cols-3 sm:gap-4">
        <div class="my-4">
          <img src="{{ track.image_url }}" class="mx-auto"\>
        </div>
        <div class="my-4 mx-2 col-span-2">
          <h1 class="text-4xl font-bold">{{ track.title }}</h1>
          <p class="m-2 pb-4">by {{ track.artist }}</p>
          <a href="https://open.spotify.com/track/{{ track.id }}"
            class="bg-green-600 hover:bg-green-700 text-white py-2 px-4 rounded-full">
            Open Spotify
          </a>
        </div>
      </div>

      <div class="grid grid-cols-2 sm:grid-cols-4 gap-4 py-3">
        <div class="">
          <h3 class="text-xl">Time</h3>
          <div class="text-2xl text-center">
            {{ track.time }}
          </div>
        </div>
        <div class="">
          <h3 class="text-xl">BPM</h3>
          <div class="text-2xl text-center">
            {{ track.bpm }}
          </div>
        </div>
        <div class="">
          <h3 class="text-xl">Key</h3>
          <div class="text-2xl text-center">
            {{ track.key }}
          </div>
        </div>
        <div class="">
          <h3 class="text-xl">Mode</h3>
          <div class="text-2xl text-center">
            {{ track.mode }}
          </div>
        </div>
      </div>

      <h2 class="text-4xl font-bold pt-8 mb-2">Analysis</h2>

      <h3 class="text-2xl mt-5 mb-1">Popularity</h3>
      <div class="w-full bg-neutral-700 rounded-md">
        <div id="popularity"
          class="bg-gradient-to-t from-yellow-400 to-yellow-500 text-right h-10 p-2 my-2 rounded-md"
          style="width: 0%">
        </div>
      </div>

      <h3 class="text-2xl mt-5 mb-1">Danceability</h3>
      <div class="w-full bg-neutral-700 rounded-md">
        <div id="danceability"
          class="bg-gradient-to-t from-pink-500 to-pink-600 text-right h-10 p-2 my-2 rounded-md"
          style="width: 0%">
        </div>
      </div>

      <h3 class="text-2xl mt-5 mb-1">Energy</h3>
      <div class="w-full bg-neutral-700 rounded-md">
        <div id="energy"
          class="bg-gradient-to-t from-rose-500 to-rose-600 text-right h-10 p-2 my-2 rounded-md"
          style="width: 0%">
        </div>
      </div>

      <h3 class="text-2xl mt-5 mb-1">Valence</h3>
      <div class="w-full bg-neutral-700 rounded-md">
        <div id="valence"
          class="bg-gradient-to-t from-indigo-500 to-indigo-600 text-right h-10 p-2 my-2 rounded-md"
          style="width: 0%">
        </div>
      </div>

      <h3 class="text-2xl mt-5 mb-1">Acousticness</h3>
      <div class="w-full bg-neutral-700 rounded-md">
        <div id="acousticness"
          class="bg-gradient-to-t from-lime-500 to-lime-600 text-right h-10 p-2 my-2 rounded-md"
          style="width: 0%">
        </div>
      </div>

      <h3 class="text-2xl mt-5 mb-1">Instrumentalness</h3>
      <div class="w-full bg-neutral-700 rounded-md">
        <div id="instrumentalness"
          class="bg-gradient-to-t from-cyan-500 to-cyan-600 text-right h-10 p-2 my-2 rounded-md"
          style="width: 0%">
        </div>
      </div>

      <h3 class="text-2xl mt-5 mb-1">Liveness</h3>
      <div class="w-full bg-neutral-700 rounded-md">
        <div id="liveness"
          class="bg-gradient-to-t from-orange-500 to-orange-600 text-right h-10 p-2 my-2 rounded-md"
          style="width: 0%">
        </div>
      </div>

      <h3 class="text-2xl mt-5 mb-1">Speechiness</h3>
      <div class="w-full bg-neutral-700 rounded-md">
        <div id="speechiness"
          class="bg-gradient-to-t from-purple-500 to-purple-600 text-right h-10 p-2 my-2 rounded-md"
          style="width: 0%">
        </div>
      </div>
    </div>
    <footer class="p-5">
    </footer>

    <script>
      function startbar(elem, max) {
        var i = 0;
        if (i == 0) {
          i = 1;
          var width = 12;
          var id = setInterval(frame, 15);
          function frame() {
            if (width >= max) {
              clearInterval(id);
              i = 0;
            } else {
              width++;
              elem.style.width = width + "%";
              elem.innerHTML = width + "%";
            }
          }
        }
      }
      window.onload = function(){
        startbar(document.getElementById("popularity"), {{ track.popularity }});
        startbar(document.getElementById("danceability"), {{ track.danceability }});
        startbar(document.getElementById("energy"), {{ track.energy }});
        startbar(document.getElementById("valence"), {{ track.valence }});
        startbar(document.getElementById("acousticness"), {{ track.acousticness }});
        startbar(document.getElementById("instrumentalness"), {{ track.instrumentalness }});
        startbar(document.getElementById("liveness"), {{ track.liveness }});
        startbar(document.getElementById("speechiness"), {{ track.speechiness }});
      }
    </script>
  </body>
</html>
